<h1><%= @user.name %></h1>

<div id="pins">
	<%= render @pins %>
	<script>
	console.log("<%= @user.name %>")
	dataLayer.push({'userName': '<%= @user.name %>',
		'screen': '<%= @user.name %> - profile page'
	}); 
	</script>
</div>

<%= will_paginate @pins %>